name: CI to Docker Hub

on:
  push:
    branches: [ master, development ]
    tags:
      - 'v*.*.*'
    paths-ignore:
      - '**.md'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    -
      name: Check out repo
      uses: actions/checkout@v2
    -
      name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    -
      name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    -
      name: Compute tags
      id: meta
      run: |
        IMAGE="${{ secrets.DOCKER_HUB_USERNAME }}/gemse_env"
        TAGS=""
        if [[ "${GITHUB_REF}" == "refs/heads/development" ]]; then
          TAGS="${IMAGE}:dev"
        fi

        if [[ "${GITHUB_REF}" == "refs/heads/main" || "${GITHUB_REF}" == "refs/heads/master" ]]; then
          TAGS="${IMAGE}:latest"
        fi
        
        if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
          VER="${GITHUB_REF#refs/tags/}"
          TAGS="${IMAGE}:${VER},${IMAGE}:latest"
        fi

        echo "tags=${TAGS}" >> "$GITHUB_OUTPUT"


    -
      name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
    -
      name: Image digest
      run: echo ${{ steps.meta.outputs.digest }}
